/*Styling and Layout*/

* {
	box-sizing: border-box;
	text-align: center;
}

body {
	font-size: 24px;
	line-height: 32px;
	background-color: #777;
	align-content: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

header {
	padding: 25px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 20px;
	color: #777;
	background: #ccc;
}

#Nav {
	padding: 25px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 20px;
	color: #777;
	background: #ccc;
}

#Section {
	padding: 40px;
	float: left;
	color: #777;
	background: #ccc;
	width: 580px;
	height: 350px;
	margin-left: 150px;

}

#Article {
	padding: 20px;
	position: absolute;
	left: 14.5%;
	top: 40%;
	width: 500px;
	height: 200px;
	background: #777;
	color: #ccc;

}

#headers {
	padding: 10px;
	position: absolute;
	left: 16%;
	top: 50%;
	color: #777;
	background: #ccc;
	width: 450px;
	height: 50px;

}

#p {
	padding: 10px;
	position: absolute;
	left: 16%;
	top: 58%;
	color: #777;
	background: #ccc;
	width: 450px;
	height: 50px;
}



#Aside {
	padding: 40px;
	float: right;
	width: 450px;
	height: 350px;
	margin-right: 150px;
	color: #777;
	background: #ccc;

}

footer {
	padding: 25px;
	clear: both;
	margin-top: 400px;
	margin-left: 150px;
	margin-right: 150px;
	color: #777;
	background: #ccc;
}





